<footer>
    <div class="grid">
        <div>
            <p>C. de Ruiz de Alarcón, 23, 28014 Madrid</p>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.777401150853!2d-3.6943157825561292!3d40.4137818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42289d66d8a2ed%3A0x1094f07d93ad885a!2sMuseo%20Nacional%20del%20Prado!5e0!3m2!1ses!2ses!4v1676748888796!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
            <p>Visit our Social Networks:</p>
            <div class="grid">
                <div>
                    <img src="../../assets/imgs/logos/insta.webp">
                </div>
                <div>
                    <img src="../../assets/imgs/logos/twitter.png">
                </div>
                <div>
                    <img src="../../assets/imgs/logos/face.png">
                </div>
            </div>
        </div>
    </div>
</footer>