@import '../../styles.scss';
@import '../../fonts.scss';

.enlaces{

    display: inline;
    text-align: center;
    a {
        text-decoration: none;
        font-family: $titleFont;
        font-size: 25px;
        color: #000000;
        display: list-item;
        padding: 15px;
    }
}

.todo{
    background-color: map-get($DisenioFinal-primary, 700);
}