<div class="container">
    <video controls>
        <source src="../../assets/video/video.mp4" type="video/mp4">
        <source src="../../assets/video/video.webm" tyep="video/webm">
        <track label="Español" kind="subtitles" srclang="es" src="../../assets/video/spanish.vtt"/>
        <track label="English" kind="subtitles" srclang="en" src="../../assets/video/english.vtt"/>
        <p>No se puede ejecutar el video</p>
    </video>
</div>
<div class="container">
    <div class="grid">
        <div class="opening">
            <h2>Opening Hours</h2>
            <pre>Monday to Saturday from 10 a.m. to 8 p.m.
Sundays and holidays from 10 a.m. to 7 p.m.</pre>
        </div>
        <div class="opening">
            <h2>Closed</h2>
            <pre>January 1st
May 1st
December 25th</pre>
        </div>
        <div class="opening">
            <h2>Limited Opening Hours</h2>
            <pre>January 6th
December 24th and 31th
From 10 a.m. to 2 p.m.</pre>
        </div>
        <div class="opening">
            <h2>Free Access</h2>
            <pre>Monday to Saturday from 6 p.m. to 8 p.m.
Sundays and holidays from 5 p.m. to 7 p.m.</pre>
        </div>
    </div>
</div>
<br>